.Listmain .header input {
width: 200px;
padding: 20px;
font-size: 20px;
border: 0.5em #5de99c;
}
.Listmain .header button {
    padding: 20px;
    font-size: 20px;
    background-color: #666666;
    color: #ffffff;
    margin: 20px;
}
.Listmain  .theList li {
    padding: 20px;
    background-color: rgba(255, 255, 255, .10);
    color: #f38a8a;
    margin-bottom: 20px;
    border-radius: 10px;
}  
.Listmain .header button:hover {
    cursor: pointer;
    background-color: #9b4a4a;
}
